/* Estilo para o cartão */
.cartao {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
}

/* Cabeçalho do cartão */
.cartao-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.cartao-header h2 {
    font-size: 1.5rem;
    margin: 0;
}

/* Conteúdo do cartão */
.cartao-conteudo {
    padding: 20px;
}

.informacoes-pessoais,
.endereco {
    margin-bottom: 20px;
    text-align: left;
}

h3 {
    font-size: 1.4rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

strong {
    color: #555;
}

/* Rodapé do cartão */
.cartao-footer {
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .cartao {
        padding: 15px;
    }

    .cartao-header h2 {
        font-size: 1.3rem;
    }

    button {
        width: 100%;
    }
}
